div.resume-content div.resume-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include card-margin(56px, 172px, 56px, 176px);
    div.resume-404 {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: $resume-max-content-width;
        padding: 16px;
        img {
            width: 100%;
        }
        h3, h4 {
            text-align: center;
        }

    }
}
