// Custom Styles

.resume-content {
	max-width: 860px;
}
.resume-content .mdl-card .mdl-card__supporting-text {
	margin: 7%;
	flex-grow: 1;
	padding: 0;
	color: inherit;
	width: 86%;
}
.mdl-chip {
	line-height: 24px;
	height: 24px;
	margin: 5px auto;
}
.mdl-chip__contact {
	line-height: 24px;
	height: 24px;
	width: 24px;
	font-size: 13px;
}
// Styles for constructing the resume.
.resume-content .mdl-layout__tab-panel section:first-of-type {
	margin-top: 7%;
}
.resume-content .mdl-layout__tab-panel section:not(:last-of-type) {
	position: relative;
	margin-bottom: 7%;
}
.resume-content .resume-org .resume-position:not(:last-child) {
	border-bottom: 1px solid rgba(0,0,0,.13);
}
.resume-content .mdl-card > * {
	height: auto;
}
.resume-title {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: baseline;
	width: 100%;
}
.resume-title .mdl-typography--headline {
	margin-bottom: 7px;
}
.resume-title .resume-location {
	margin-top: 7px; 
}
.resume-title .mdl-typography--subhead {
	margin-top: 10px;
}
.resume-position ul {
	margin: 4px 0px 4px 0px;
}  
.resume-position ul li {
	transition: opacity 50;
}
.resume-position ul li:last-of-type {
	margin-bottom: 10px;
}
.resume-hidden {
	max-height: 0px;
	opacity: 0;
	margin-bottom: 0 !important;
}
.resume-position p {
	margin: 0;
}
.mdl-layout__tab-bar-button {
	background-color: inherit;
}
.mdl-layout__header .mdl-layout__drawer-button {
	color: inherit;
}



.demo-charts {
  align-items: center;
}
.demo-chart:nth-child(1) {
  color: #ACEC00;
}
.demo-chart:nth-child(2) {
  color: #00BBD6;
}
.demo-chart:nth-child(3) {
  color: #BA65C9;
}
.demo-chart:nth-child(4) {
  color: #EF3C79;
}
.demo-graphs {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
_:-ms-input-placeholder, :root .demo-graphs {
  min-height: 664px;
}
_:-ms-input-placeholder, :root .demo-graph {
  max-height: 300px;
}
/* TODO end */
.demo-graph:nth-child(1) {
  color: #00b9d8;
}
.demo-graph:nth-child(2) {
  color: #d9006e;
}

.demo-cards {
  align-items: flex-start;
  align-content: flex-start;
}
.demo-cards .demo-separator {
  height: 32px;
}
.demo-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.demo-cards ul {
  padding: 0;
}
.demo-cards h3 {
  font-size: 1em;
}
.demo-updates .mdl-card__title {
  min-height: 200px;
  background-image: url('images/dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.demo-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.demo-options h3 {
  margin: 0;
}
.demo-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.demo-options ul {
  margin: 0;
  list-style-type: none;
}
.demo-options li {
  margin: 4px 0;
}
.demo-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.demo-options .mdl-card__actions {
  height: 64px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
