header.resume-resume-header {
    div.mdl-layout__header-row {
        ul {
            li {
                display: flex;
                align-items: center;
                a {
                    display: flex;
                    align-items: center;
                    color: initial;
                    text-decoration: none;
                }
                i {
                    margin-right: 24px;
                }
            }
        }
    }
}
div.resume-content section.mdl-layout__tab-panel {
    width: 100%;
    div.resume-org-type {
        padding-top: 20px;
        min-height: calc(100vh - 124px);
        display:flex;
        flex-direction: column;
        h5 {
            text-align: center;
            margin-bottom: 40px;
            display: none;
            text-transform: uppercase;
        }
        @include card-margin(124px, 264px, 132px, 264px);
        .mdl-card__supporting-text {
            flex-grow: 0;
            padding: 0;
            color: inherit;
            margin-bottom: 20px;
            max-width: $resume-max-content-width;
            &:last-of-type {
                margin-bottom: 7%;
            }
            .resume-title {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: baseline;
                width: 100%;
                .mdl-typography--headline {
                    margin-bottom: 10px;
                }
                .resume-location {
                    margin-bottom: 7px;
                }
            }
            .resume-position {
                p {
                    text-align: justify;
                    margin-bottom: 6px;
                }
                button.resume-more i {
                    font-size: 20px;
                }
                ul {
                    margin: 4px 0px 4px 0px;
                    li {
                        text-align: justify;
                        transition: opacity 50;
                        &:last-of-type {
                            margin-bottom: 10px;

                        }
                    }
                }
            }
        }
    }
}




