header.resume-post-header{
    @media (min-width: $resume-nav-drawer-width-fixed) {
        display: none;
    }
}
.resume-content article.resume-post {
    width: 100%;
    margin: -2px -5px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
	@include card-margin();
    .mdl-card__title {
        width: 100%;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
        min-height: 300px;
        background-position: center;
        h2 {
            margin: 0;
        }
    }
    .resume-article__icons {
        width: calc(100% - 32px);
        display: flex;
        flex-flow: row wrap;
        line-height: 32px;
        div:not(.resume-spacer), button {
			flex-grow: 0;
            display: flex;
            align-items: center;
            margin-right: 6px;
            [class*="icon"] {
                font-size: 20px;
                margin-right: 3px;
            }
        }
		div.resume-spacer {
			flex-grow: 1;
		}
		ul {
			a {
				color: initial;
			}
			li.share-email {
				display: flex;
				justify-content: center;
				a {
					text-decoration: none;
					display: flex;
					align-items: center;

				}
			}

		}
	}
    .resume-article__tags {
        width: calc(100% - 32px);
    }
    .mdl-card__supporting-text {
        color: initial;
        max-width: $resume-max-content-width;
    }
}
[class*="icon-"] {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-12px,-12px);
    transform: translate(-12px,-12px);
    line-height: 24px;
    width: 24px;
	vertical-align: middle;
}
