//Variables
$resume-nav-drawer-width: 245;
$resume-max-content-width: 650px;
$resume-break-point-mobile: 700px;
$resume-max-card-width: 860px;
$resume-nav-drawer-width-fixed: 1025px;

// Mixins
@mixin card-margin() {
    @media (min-width: $resume-max-card-width) {
        @media (max-width: ($resume-nav-drawer-width-fixed)) {
            margin: 7% auto;
            h5 {
                display: block;
            }
            min-height: calc(100vh - 264px);
        }
        @media (min-width: ($resume-max-card-width + $resume-nav-drawer-width)) {
            margin: 7% auto;
            h5 {
                display: block;
            }
            min-height: calc(100vh - 264px);
        }
    }
}
