{{ define "header" }}
<header class="mdl-layout__header">
	<div class="mdl-layout__header-row">
		<span class="mdl-layout-title">{{ .Site.Title }}</span>
		<div class="mdl-layout-spacer"></div>
		<button id="resume-more-all" class="resume-more mdl-button mdl-js-button mdl-button--icon" onclick="moreAllHandler(event)">
			<i class="material-icons mdl-color-text--accent" role="presentation">expand_more</i>
			<span for="resume-more-all" class="mdl-tooltip">Show Details</span>
		</button>
	</div>
	<div class="mdl-layout__tab-bar mdl-js-ripple-effect">
		{{ range $orgTypeKey, $orgTypeValue := .Site.Params.org_types }}
		<a href="#scroll-tab-{{ $orgTypeKey }}" class="mdl-layout__tab{{ if eq $orgTypeKey "10" }} is-active{{ end }}">{{ $orgTypeValue }}</a>
		{{ end }}
	</div>
</header>
{{ end }}

{{ define "main" }}
{{ $orgs := .Site.Data.orgs }}
{{ $positions := sort .Site.Data.positions "end_date" "desc" }}

{{/* Sorts the orgs in descending order based on the most recent position end date. */}}
{{ range sort $positions "end_date" }}
	{{ $.Scratch.SetInMap "orgMap" .org (dict "id" .org "end_date" .end_date) }}
{{ end }}
{{ $sortedOrgs := sort ($.Scratch.GetSortedMapValues "orgMap") "end_date" "desc" }}

{{ range $orgTypeKey, $orgTypeValue := .Site.Params.org_types }}
<section class="mdl-layout__tab-panel{{ if eq $orgTypeKey "10" }} is-active{{ end }}" id="scroll-tab-{{ $orgTypeKey }}">
	{{ range $sortedOrgs }}
	{{ $orgKey := .id }}
	{{ $org := index $orgs $orgKey }}
	{{ if eq $org.org_type $orgTypeKey }}
	<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
		<div class="mdl-card mdl-cell mdl-cell--12-col">
			<div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
				<div class="resume-title">
					<div class="mdl-typography--headline">{{ $org.name }}</div>
					<div class="resume-location mdl-typography--subhead">{{ $org.location }}</div>
				</div>
				{{ range $positions }}
				{{ if eq .org $orgKey }}
				<div class="resume-position section__text mdl-cell mdl-cell--12-col">
					<div class="resume-title">
						<div class="mdl-typography--subhead">{{ .title }}</div>
						<div>
							<div class="mdl-typography--body-1">{{ with .start_date }}{{ dateFormat "Jan 2006" . }} - {{ end }}{{ with .end_date }}{{ dateFormat "Jan 2006" . }}{{ end }}</div>
						</div>
					</div>
					{{ with .overview }}<p class="mdl-typography--body-1">{{ . }}</p>{{ end }}
					{{ with .accomplishments }}
					<button class="resume-more mdl-button mdl-js-button mdl-button--icon" onclick="moreHandler(event)"><i style="font-size: 80%;" class="material-icons mdl-color-text--accent" role="presentation">expand_more</i></button>
					<div class="resume-title">
						<ul>
							{{ range . }}
							<li class="resume-hidden">{{ . }}</li>
							{{ end }}
						</ul>
					</div>
					{{ end }}
				</div>
				{{ end }}
				{{ end }}
			</div>
		</div>
	</section>
	{{ end }}
	{{ end }}
</section>
{{ end }}
{{ end }}

{{ define "footer" }}
<script src="/js/resume.js"></script>
{{ end }}
