<div class="resume-drawer mdl-layout__drawer">
	<header class="resume-drawer__header">
	<img src="/images/avatar.jpg" class="resume-avatar">
	<a href="mailto:{{ default "your@email.com" (index .Site.Params "email") }}" target="_blank">{{ default "your@email.com" (index .Site.Params "email") }}</a>
	</header>
	<nav class="resume-drawer__nav mdl-navigation">
		{{ range .Site.Menus.main }}
		<a class="mdl-navigation__link" href="{{ .URL }}"><i class="material-icons" role="presentation">{{ .Pre }}</i>{{ .Name }}</a>
		{{end}}
	<div class="mdl-layout-spacer"></div>
	<a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
	</nav>
</div>
