<div class="resume-drawer mdl-layout__drawer">
	<header class="resume-drawer__header{{ with .Site.Params.styles.nav_header_color }} {{ . }}{{ end }}{{ with .Site.Params.styles.nav_header_color_text }} {{ . }}{{ end }}">
		{{ if eq .IsHome false }}{{ with .Site.Params.avatar }}<img src="/images/{{ . }}" class="resume-avatar" />{{ end }}{{ end }}
		<div>
			{{ range $key, $value := .Site.Params.social -}}
			{{if ne (index $value 0) "" }}
			<a title="{{ index $value 0 }}" href="{{ index $value 1 }}{{ index $value 0 }}" class="mdl-button mdl-js-button mdl-button--icon"><i class="icon-{{ $key }}"></i></a>
			{{ end -}}
			{{ end -}}
			{{ with .Site.Params.email }}<a title="{{ . }}" href="mailto:{{ . }}" class="mdl-button mdl-js-button mdl-button--icon" target="_blank"><i class="material-icons" role="presentation">email</i></a>{{ end }}
		</div>
	</header>
	<nav class="resume-drawer__nav mdl-navigation {{ .Site.Params.styles.nav_color }} {{ .Site.Params.styles.nav_color_text }}">
		{{- range .Site.Menus.main -}}
		<a class="mdl-navigation__link{{ with $.Site.Params.styles.nav_color_text }} {{ . }}{{ end }}" href="{{ .URL }}"><i class="material-icons" role="presentation">{{ .Pre }}</i>{{ .Name }}</a>
		{{ end -}}
		<div class="resume-drawer__nav-tags">
			<h5>Tags</h5>
			{{ $title := urlize .Title }}
			<div>
				{{ range $tag, $tag_data := .Site.Taxonomies.tags }}
				<a href="{{ "/tags/" | relURL }}{{ $tag | urlize }}" class="mdl-chip mdl-chip--deletable mdl-chip {{ if eq $tag $title }}mdl-color--primary{{ else }}{{ default "mdl-color--grey-200" $.Site.Params.styles.chip_color }}{{ end }}">
					<span class="mdl-chip__text mdl-chip__text{{ if eq $tag $title }} mdl-color-text--primary-contrast{{ else }}{{ with $.Site.Params.styles.chip_color_text }} {{ . }}{{ end }}{{end}}">{{ $tag | humanize | lower }}</span>
					<span class="mdl-chip__contact{{ if eq $tag $title }} mdl-color-text--primary-contrast{{ else }}{{ with $.Site.Params.styles.chip_color_text }} {{ . }}{{ end }}{{ end }}">{{ $tag_data.Count }}</span>
				</a>
				{{ end }}
			</div>
		</div>
	</nav>
</div>
