<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 16px;
    font-size: 12px;
    }
    h1, h2, h3 {
        margin-bottom: 0;
    }
	h3 {
		margin-top: 6px;
	}
    p {
        margin: 3px 0px 3px 0px;
		text-align: justify;
    }
    ul {
        margin-top: 4px;
			text-align: justify;
        page-break-inside: avoid;
    }
    </style>
</head>
<body>
{{ .Render "single" | markdownify }}
</body>
<script>window.print()</script>
</html>
