{{ $ruleLength := 50 }}
{{- $orgs := .Site.Data.orgs -}}
{{- $positions := sort .Site.Data.positions "end_date" "desc" -}}


{{- range sort $positions "end_date" -}}
	{{- $.Scratch.SetInMap "orgMap" .org (dict "id" .org "end_date" .end_date) -}}
{{- end -}}
{{- $sortedOrgs := sort ($.Scratch.GetSortedMapValues "orgMap") "end_date" "desc" -}}
{{ range (seq 1 $ruleLength) }}-{{ end }}

# {{ upper .Site.Title }}
**{{ default "your@email.com" (index .Site.Params "email") }}**

{{ range (seq 1 $ruleLength) }}-{{ end }}
{{ range $orgTypeKey, $orgTypeValue := .Site.Params.org_types }}
## {{ upper $orgTypeValue -}}
{{ range $sortedOrgs -}}
{{ $orgKey := .id -}}
{{ $org := index $orgs $orgKey -}}
{{- if eq $org.org_type $orgTypeKey }}

{{ $org.name | safeHTML }} | {{ $org.location | safeHTML }}
{{ range (seq 1 (len (split $org.name ""))) }}-{{end}}---{{ range (seq 1 (len (split $org.location ""))) }}-{{ end }}
{{ range $positions -}}
{{- if eq .org $orgKey }}
### {{ .title }} | {{ trim (partial "dates" .) "\n" }}
{{- with .overview }}

{{ . }}
{{- end -}}
{{ with .accomplishments -}}
{{ $accompLen := len . -}}
{{ range $index, $value := . }}
* {{ $value | safeHTML -}}
{{- end -}}{{/* range $index, $value := . */}}
{{- end -}}{{/* with .accomplishments */}}
{{ end }}{{/* if eq .org $orgKey */}}
{{- end }}{{/* range $positions */}}
{{- end }}{{/* if eq $org.org_type $orgTypeKey */}}
{{- end }}{{/* range $sortedOrgs */}}
{{- end }}{{/* range $orgTypeKey, $orgTypeValue := .Site.Params.org_types */}}
