<!DOCTYPE html>
<html lang="en">
	{{ partial "head" . }}
	<body>
		<div class="resume-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
			{{ block "header" . }}
				{{ partial "header" . }}
			{{ end }}
			{{ partial "nav-drawer" . }}
			<main class="mdl-layout__content">
			<div class="mdl-grid resume-content">
				{{ block "main" . }}
				{{ end }}
			</div>
			</main>
		</div>
	</body>
	<script src="https://code.getmdl.io/1.2.0/material.min.js"></script>
	{{ block "footer" . }}
	{{ end }}
</html>
