<!DOCTYPE html>
<html>
	{{ partial "head" . }}
	<body>
		<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
			{{ partial "header" . }}
			{{ partial "nav-drawer" . }}
			<main class="mdl-layout__content mdl-color--grey-100">
			<div class="mdl-grid demo-content">
				<!-- Code that all your templates share, like a header -->

				{{ block "main" . }}
				<!-- The part of the page that begins to differ between templates -->
				{{ end }}

				<!-- More shared code, perhaps a footer -->
			</div>
			</main>
		</div>
	</body>
	<script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
</html>

