{{ define "main" }}
<div class="resume-home mdl-color--white mdl-shadow--2dp">
	{{ with .Site.Params.avatar }}
	<div class="resume-home__avatar-container {{ default "mdl-color--primary-dark" $.Site.Params.styles.home_avatar_color }}">
		<img src="/images/{{ . }}" />
	</div>
	{{ end }}
	<div class="resume-home__welcome">
		{{ .Site.Params.welcome	| markdownify }}
	</div>
	<div class="resume-spacer"></div>
</div>
	{{ range where .Data.Pages "Params.home_feature" "!=" nil }}
		{{ partial "feature" . }}
	{{ end }}

{{ end }}

