@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon/icomoon.eot?l706tt");
  src: url("/fonts/icomoon/icomoon.eot?l706tt#iefix") format("embedded-opentype"), url("/fonts/icomoon/icomoon.ttf?l706tt") format("truetype"), url("/fonts/icomoon/icomoon.woff?l706tt") format("woff"), url("/fonts/icomoon/icomoon.svg?l706tt#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-googleplus:before {
  content: "\ea8b"; }

.icon-facebook:before {
  content: "\ea90"; }

.icon-twitter:before {
  content: "\ea96"; }

.icon-github:before {
  content: "\eab0"; }

.icon-reddit:before {
  content: "\eac6"; }

.icon-hackernews:before {
  content: "\eac7"; }

.icon-linkedin:before {
  content: "\eaca"; }

div.resume-content div.resume-home {
  display: flex;
  flex-direction: column;
  align-items: center; }

@media (min-width: 860px) and (max-width: 1025px) {
  div.resume-content div.resume-home {
    margin: 7% auto;
    min-height: calc(100vh - 264px); }
    div.resume-content div.resume-home h5 {
      display: block; } }

@media (min-width: 860px) and (min-width: 1105px) {
  div.resume-content div.resume-home {
    margin: 7% auto;
    min-height: calc(100vh - 264px); }
    div.resume-content div.resume-home h5 {
      display: block; } }
  div.resume-content div.resume-home div.resume-home__avatar-container {
    width: calc(100% - 32px);
    display: flex;
    padding: 16px;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    div.resume-content div.resume-home div.resume-home__avatar-container img {
      border-radius: 50%;
      max-height: 165px;
      max-width: 165px; }
  div.resume-content div.resume-home div.resume-home__welcome {
    max-width: 650px;
    padding: 16px; }

div.resume-drawer {
  /* iOS Safari specific workaround */
  /* END iOS Safari specific workaround */ }
  div.resume-drawer .mdl-layout__drawer .resume-avatar {
    margin-bottom: 8px; }
  div.resume-drawer .resume-drawer .mdl-menu__container {
    z-index: -1; }
  div.resume-drawer .resume-drawer .resume-drawer__nav {
    z-index: -2; }
  div.resume-drawer .resume-drawer .mdl-menu .mdl-menu__item {
    display: flex;
    align-items: center; }
  div.resume-drawer header.resume-drawer__header {
    padding: 0px 16px 15px 16px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13); }
    div.resume-drawer header.resume-drawer__header img.resume-avatar {
      width: 48px;
      height: 48px;
      border-radius: 24px;
      margin: 16px 16px 0px 0px; }
    div.resume-drawer header.resume-drawer__header div {
      padding-top: 16px;
      flex-grow: 1;
      display: flex;
      justify-content: space-around; }
      div.resume-drawer header.resume-drawer__header div [class*="icon"] {
        font-size: 20px; }
  div.resume-drawer nav.resume-drawer__nav {
    box-sizing: border-box;
    flex-grow: 1; }
    div.resume-drawer nav.resume-drawer__nav a.mdl-navigation__link {
      flex-direction: row;
      align-items: flex-end;
      font-weight: 500; }
      div.resume-drawer nav.resume-drawer__nav a.mdl-navigation__link i.material-icons {
        font-size: 24px;
        margin-right: 32px; }
    div.resume-drawer nav.resume-drawer__nav .resume-drawer__nav-tags h5 {
      margin: 16px 0 0 0;
      padding: 32px 16px 0px 16px;
      border-top: 1px solid rgba(0, 0, 0, 0.13); }
      @media (min-width: 1025px) {
        div.resume-drawer nav.resume-drawer__nav .resume-drawer__nav-tags h5 {
          padding-left: 32px; } }
    div.resume-drawer nav.resume-drawer__nav .resume-drawer__nav-tags div {
      padding: 16px; }
      @media (min-width: 1025px) {
        div.resume-drawer nav.resume-drawer__nav .resume-drawer__nav-tags div {
          padding-left: 32px; } }
      div.resume-drawer nav.resume-drawer__nav .resume-drawer__nav-tags div a {
        width: fit-content; }
    div.resume-drawer nav.resume-drawer__nav .resume-drawer__nav-tags .mdl-chip__contact {
      margin-right: 0; }

.resume-layout {
  min-height: 100vh; }

.resume-content {
  width: 100%;
  max-width: 860px;
  margin: auto; }

.mdl-chip {
  line-height: 24px;
  height: 24px;
  margin: 5px auto; }

.mdl-chip__contact {
  line-height: 24px;
  height: 24px;
  width: 24px;
  font-size: 13px; }

.mdl-layout__tab-bar-button {
  background-color: inherit; }

.mdl-layout__header .mdl-layout__drawer-button {
  color: inherit;
  padding: -8px; }

.resume__prev-next {
  width: calc(100% - 20px);
  margin: 0 10px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .resume__prev-next a {
    height: 100%;
    flex-grow: 0;
    display: flex;
    align-items: center; }
  .resume__prev-next div {
    flex-grow: 1; }

.mdl-layout__header--waterfall {
  overflow: visible; }

.mdl-layout__header--waterfall.is-compact {
  overflow: hidden; }

header.resume-resume-header div.mdl-layout__header-row ul li {
  display: flex;
  align-items: center; }
  header.resume-resume-header div.mdl-layout__header-row ul li a {
    display: flex;
    align-items: center;
    color: initial;
    text-decoration: none; }
  header.resume-resume-header div.mdl-layout__header-row ul li i {
    margin-right: 24px; }

div.resume-content section.mdl-layout__tab-panel {
  width: 100%; }
  div.resume-content section.mdl-layout__tab-panel div.resume-org-type {
    padding-top: 20px;
    min-height: calc(100vh - 124px);
    display: flex;
    flex-direction: column; }
    div.resume-content section.mdl-layout__tab-panel div.resume-org-type h5 {
      text-align: center;
      margin-bottom: 40px;
      display: none;
      text-transform: uppercase; }

@media (min-width: 860px) and (max-width: 1025px) {
  div.resume-content section.mdl-layout__tab-panel div.resume-org-type {
    margin: 7% auto;
    min-height: calc(100vh - 264px); }
    div.resume-content section.mdl-layout__tab-panel div.resume-org-type h5 {
      display: block; } }

@media (min-width: 860px) and (min-width: 1105px) {
  div.resume-content section.mdl-layout__tab-panel div.resume-org-type {
    margin: 7% auto;
    min-height: calc(100vh - 264px); }
    div.resume-content section.mdl-layout__tab-panel div.resume-org-type h5 {
      display: block; } }
    div.resume-content section.mdl-layout__tab-panel div.resume-org-type .mdl-card__supporting-text {
      flex-grow: 0;
      padding: 0;
      color: inherit;
      margin-bottom: 20px;
      max-width: 650px; }
      div.resume-content section.mdl-layout__tab-panel div.resume-org-type .mdl-card__supporting-text:last-of-type {
        margin-bottom: 7%; }
      div.resume-content section.mdl-layout__tab-panel div.resume-org-type .mdl-card__supporting-text .resume-title {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: baseline;
        width: 100%; }
        div.resume-content section.mdl-layout__tab-panel div.resume-org-type .mdl-card__supporting-text .resume-title .mdl-typography--headline {
          margin-bottom: 10px; }
        div.resume-content section.mdl-layout__tab-panel div.resume-org-type .mdl-card__supporting-text .resume-title .resume-location {
          margin-bottom: 7px; }
      div.resume-content section.mdl-layout__tab-panel div.resume-org-type .mdl-card__supporting-text .resume-position p {
        text-align: justify;
        margin-bottom: 6px; }
      div.resume-content section.mdl-layout__tab-panel div.resume-org-type .mdl-card__supporting-text .resume-position button.resume-more i {
        font-size: 20px; }
      div.resume-content section.mdl-layout__tab-panel div.resume-org-type .mdl-card__supporting-text .resume-position ul {
        margin: 4px 0px 4px 0px; }
        div.resume-content section.mdl-layout__tab-panel div.resume-org-type .mdl-card__supporting-text .resume-position ul li {
          text-align: justify;
          transition: opacity 50; }
          div.resume-content section.mdl-layout__tab-panel div.resume-org-type .mdl-card__supporting-text .resume-position ul li:last-of-type {
            margin-bottom: 10px; }
    div.resume-content section.mdl-layout__tab-panel div.resume-org-type div.resume-spacer {
      flex-grow: 1; }

.resume-hidden {
  max-height: 0px;
  opacity: 0;
  margin-bottom: 0 !important; }

@media (min-width: 1025px) {
  header.resume-post-header {
    display: none; } }

.resume-content article.resume-post {
  width: 100%;
  margin: -2px -5px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

@media (min-width: 860px) and (max-width: 1025px) {
  .resume-content article.resume-post {
    margin: 7% auto;
    min-height: calc(100vh - 264px); }
    .resume-content article.resume-post h5 {
      display: block; } }

@media (min-width: 860px) and (min-width: 1105px) {
  .resume-content article.resume-post {
    margin: 7% auto;
    min-height: calc(100vh - 264px); }
    .resume-content article.resume-post h5 {
      display: block; } }
  .resume-content article.resume-post .mdl-card__title {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 300px;
    background-position: center; }
    .resume-content article.resume-post .mdl-card__title h2 {
      margin: 0; }
  .resume-content article.resume-post .resume-article__icons {
    width: calc(100% - 32px);
    display: flex;
    flex-flow: row wrap;
    line-height: 32px; }
    .resume-content article.resume-post .resume-article__icons div:not(.resume-spacer), .resume-content article.resume-post .resume-article__icons button {
      flex-grow: 0;
      display: flex;
      align-items: center;
      margin-right: 6px; }
      .resume-content article.resume-post .resume-article__icons div:not(.resume-spacer) [class*="icon"], .resume-content article.resume-post .resume-article__icons button [class*="icon"] {
        font-size: 20px;
        margin-right: 3px; }
    .resume-content article.resume-post .resume-article__icons div.resume-spacer {
      flex-grow: 1; }
    .resume-content article.resume-post .resume-article__icons ul a {
      color: initial; }
    .resume-content article.resume-post .resume-article__icons ul li.share-email {
      display: flex;
      justify-content: center; }
      .resume-content article.resume-post .resume-article__icons ul li.share-email a {
        text-decoration: none;
        display: flex;
        align-items: center; }
  .resume-content article.resume-post .resume-article__tags {
    width: calc(100% - 32px); }
  .resume-content article.resume-post .mdl-card__supporting-text {
    color: initial;
    max-width: 650px; }

[class*="icon-"] {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-12px, -12px);
  transform: translate(-12px, -12px);
  line-height: 24px;
  width: 24px;
  vertical-align: middle; }

.resume-content article.resume-post-summary {
  width: calc(100% - 16px);
  margin: 7% auto;
  min-height: 165px;
  display: flex;
  flex-direction: column;
  transition: all 150ms; }
  .resume-content article.resume-post-summary:hover {
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22); }
  .resume-content article.resume-post-summary:hover > div.resume-post-summary__text > div.resume-post-summary__text-header > a.resume-post-summary__text-link {
    opacity: 0.85; }
  @media (min-width: 700px) {
    .resume-content article.resume-post-summary {
      flex-direction: row-reverse; } }
  .resume-content article.resume-post-summary a {
    width: fit-content;
    text-decoration: none;
    color: inherit; }
    @media (max-width: 700px) {
      .resume-content article.resume-post-summary a:hover {
        text-decoration: underline; } }
    @media (min-width: 700px) {
      .resume-content article.resume-post-summary a:hover {
        text-decoration: underline; } }
    .resume-content article.resume-post-summary a h2 {
      margin: 0 0 3px 0; }
  .resume-content article.resume-post-summary header {
    background-position: center center;
    min-height: 165px;
    min-width: 165px;
    align-items: flex-end; }
    @media (min-width: 700px) {
      .resume-content article.resume-post-summary header a {
        display: none; } }
  .resume-content article.resume-post-summary .resume-post-summary__text {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 0 16px;
    color: inherit; }
    .resume-content article.resume-post-summary .resume-post-summary__text div.resume-post-summary__text-header {
      display: flex;
      flex-direction: row; }
      .resume-content article.resume-post-summary .resume-post-summary__text div.resume-post-summary__text-header div.resume-post-summary__text-title {
        display: flex;
        flex-direction: column;
        flex-grow: 1; }
        .resume-content article.resume-post-summary .resume-post-summary__text div.resume-post-summary__text-header div.resume-post-summary__text-title a {
          display: none; }
          @media (min-width: 700px) {
            .resume-content article.resume-post-summary .resume-post-summary__text div.resume-post-summary__text-header div.resume-post-summary__text-title a {
              display: inline; } }
      .resume-content article.resume-post-summary .resume-post-summary__text div.resume-post-summary__text-header a.resume-post-summary__text-link {
        margin-top: -40px;
        flex-grow: 0;
        opacity: 0.85; }
        .resume-content article.resume-post-summary .resume-post-summary__text div.resume-post-summary__text-header a.resume-post-summary__text-link:hover {
          opacity: 1 !important; }
        @media (min-width: 700px) {
          .resume-content article.resume-post-summary .resume-post-summary__text div.resume-post-summary__text-header a.resume-post-summary__text-link {
            transition: all 150ms;
            margin-right: -10px;
            margin-top: -10px;
            opacity: 0; } }
    .resume-content article.resume-post-summary .resume-post-summary__text p {
      margin-top: 0px;
      margin-bottom: 0;
      padding-bottom: 7px;
      flex: 1; }
    .resume-content article.resume-post-summary .resume-post-summary__text .resume-article__tags {
      padding: 7px 0;
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      margin: 0 -16px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end; }
      .resume-content article.resume-post-summary .resume-post-summary__text .resume-article__tags div {
        flex: 1;
        padding: 0 16px; }

.resume-i-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 7px;
  margin-bottom: 6px; }
  .resume-i-container i {
    margin-right: 2px; }
